
/*

!/.editorconfig
!/.gitignore

!/generate.js

!/docs/

!/theme-color-a/manifest.json
!/theme-color-b/manifest.json
!/theme-color-c/manifest.json
!/theme-color-d/manifest.json
!/theme-color-e/manifest.json
!/theme-color-f/manifest.json
